﻿@model Grupo1.AgendaDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Comenzar Consulta";
}



<div>
    <h4>Paciente</h4>
    <h1>@($"{ this.ViewData["Title"] }") </h1>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre)
            @Html.DisplayFor(model => model.Paciente.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="FinalizarConsulta" asp-route-id="@Model.Id">Finalizar consulta</a>
</div>
