﻿@model Grupo1.AgendaDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Crear Turno";
}


<h1>@($"{ this.ViewData["Title"] }") </h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="date" min="@DateTime.Now" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesional" class="control-label"></label>
                <select asp-for="IdProfesional" class="form-control" asp-items="ViewBag.IdProfesional"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCentro" class="control-label"></label>
                <select asp-for="IdCentro" class="form-control" asp-items="ViewBag.IdCentro"></select>
            </div>
            <div class="form-group">
                <label name="hora" class="control-label">Hora</label>
                <input type="number" min="0" max="23" name="hora" required value="ViewBag.hora" />
            </div>
            <div>
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" placeholder="Redacte una breve descripcion de la consulta" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@($"{ this.ViewData["Title"] }")" class="btn btn-info btn3d" />
            </div>
        </form>
    </div>
</div>
<div class="col col-md-5">
    <div class="alert-danger">
        @ViewBag.Error
    </div>
    @if (@ViewBag.MENSAJE != null)
    {
        <div class="alert-success">
            @ViewBag.MENSAJE
        </div>
        
        <label>@ViewBag.PROFESIONAL</label>
        <label>@ViewBag.DIA</label>
        <label>@ViewBag.HORA</label>

    }
</div>

        <div>
            <a asp-controller="Home" asp-action="Index">Volver</a>
        </div>


