﻿@model Grupo1.AgendaDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Eliminar Turno";
}

<h3>¿Seguro qué desea eliminar el Registro?</h3>
<div>
    <h4>Turno</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Apellido)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Apellido)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Centro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Centro.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="MisTurnos">Volver</a>
    </form>
</div>
