﻿@model Grupo1.AgendaDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Detalle del Turno";
}

    <h1>@($"{ this.ViewData["Title"] }") </h1>

<div>
  
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.NombreYApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Centro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Centro.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>

    @if (User.IsInRole(nameof(RolesEnum.ADMINISTRADOR)))
    {
       <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a asp-action="Index">Volver</a>
    }
    @if (User.IsInRole(nameof(RolesEnum.PROFESIONAL)))
    {
        <a asp-action="MiAgenda">Volver</a>
    }
    @if (User.IsInRole(nameof(RolesEnum.CLIENTE)))
    {
        <a asp-action="MisTurnos">Volver</a>
    }

    


</div>
