﻿@model IEnumerable<Grupo1.AgendaDeTurnos.Models.Turno>

@{
    ViewData["Title"] = "Mi Agenda";
}

<h1>@ViewBag.Bienvenida</h1>
<div class="alert-success" id="montoRecaudado">
    <span>El monto total recaudado $@ViewBag.Monto</span>
</div>
<table class="table text-center">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Centro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                    -
                    @Html.DisplayFor(modelItem => item.Fecha.Hour) hs
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.NombreYApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Centro.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |

                </td>
            </tr>


        }

    </tbody>
</table>

