﻿@model Grupo1.AgendaDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Crear Nuevo Turno";
}


<h1>@($"{ this.ViewData["Title"] }") </h1>

<hr />

<div class="row">

    <div class="col-md-4">
        <form asp-action="NuevoTurno">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" min="@DateTime.Now" class="form-control" required />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp="IdPrestacion" class="control-label">Prestacion</label>
                <select name="IdPrestacion" class="form-control" asp-items="ViewBag.IdPrestacion" required></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCentro" class="control-label"></label>
                <select asp-for="IdCentro" class="form-control" asp-items="ViewBag.IdCentro" required></select>
            </div>
            <div class="form-group">
                <label name="hora" class="control-label">Hora</label>
                <input type="number" min="0" max="23" name="hora" required value="ViewBag.hora" />
            </div>
            <div>
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" placeholder="Redacte una breve descripcion de la consulta" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>

        </form>
    </div>
    <div class="col col-md-5">
        <div class="alert-danger">
            @ViewBag.Error
        </div>
        @if (@ViewBag.MENSAJE != null)
        {
            <div class="alert-success">
                @ViewBag.MENSAJE
            </div>
            <label>@ViewBag.PROFESIONAL</label>
            <label>@ViewBag.DIA</label>
            <label>@ViewBag.HORA</label>
            <div>
                <a asp-action="MisTurnos">Mis turnos</a>
            </div>
            <div>
                <a asp-controller="Centros" asp-action="Index">Inicio</a>
            </div>



        }
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>
