﻿@model Grupo1.AgendaDeTurnos.Models.Disponibilidad

@{
    ViewData["Title"] = "Eliminar Disponibilidad";
}

    <h1>@($"{ this.ViewData["Title"] }") </h1>

<h3>¿Seguro qué desea eliminar el Registro?</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesional)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
