﻿@model Grupo1.AgendaDeTurnos.Models.Disponibilidad

@{
    ViewData["Title"] = "Detalles";
}

<div>
    <h1>@($"{ this.ViewData["Title"] }") </h1>
    <h4>Disponibilidad</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
