﻿@model Grupo1.AgendaDeTurnos.Models.Disponibilidad

@{
    ViewData["Title"] = "Editar";
}

<h1>@($"{ this.ViewData["Title"] }") </h1>
<h4>Disponibilidad</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <select asp-for="Dia" class="form-control"></select>
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraDesde" class="control-label"></label>
                <input asp-for="HoraDesde" class="form-control" />
                <span asp-validation-for="HoraDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraHasta" class="control-label"></label>
                <input asp-for="HoraHasta" class="form-control" />
                <span asp-validation-for="HoraHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesional" class="control-label"></label>
                <input asp-for="IdProfesional" class="form-control" />
                <span asp-validation-for="IdProfesional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

