﻿@{
    ViewData["Title"] = "Ingresar";
}

<div class="text-center">
    <h1>@($"{ this.ViewData["Title"] }") </h1>
</div>




<div class="row bounceIn bounceInLeft">
    <div class="col-lg-offset-4 col-md-4">
        <form method="post" asp-controller="Cuentas" asp-action="Ingresar">

            <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" />
            <div class="text-danger">
                @ViewBag.Error
            </div>
            <div class="form-group">
                <label laber-for="username" class="control-label">Nombre de usuario:</label>
                <input name="username" class="form-control" type="text" value="@ViewBag.Username" />
            </div>

            <div class="form-group">
                <label label-for="Password" class="control-label">Contraseña:</label>
                <input name="password" class="form-control" type="password" />
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success btn3d" />
            </div>
        </form>
    </div>

    <div>
        <p>Para ingresar como <strong>Paciente</strong>      ==> user: <strong>paciente</strong> pass: <strong>Paciente123</strong></p>
        <p>Para ingresar como <strong>Profesional</strong>   ==> user: <strong>prof</strong> pass: <strong>Profesional123</strong></p>
        <p>Para ingresar como <strong>Administrador</strong> ==> user: <strong>admin</strong> pass: <strong>admin</strong></p>
        <br />
        <p>Para ingresar como <strong>Profesional (Marchese)</strong> ==> user: <strong>fmarchese</strong> pass: <strong>Marchese123</strong></p>
        <p>Para ingresar como <strong>Paciente (Capelli)</strong> ==> user: <strong>rcapelli</strong> pass: <strong>Capelli123</strong></p>

    </div>
</div>