﻿@model Grupo1.AgendaDeTurnos.Models.Centro

@{
    ViewData["Title"] = "Detalles del centro";
}

<h1>Detalle</h1>

<div>
    <h4>Centro</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Calle)
            @Html.DisplayFor(model => model.Direccion.Altura)
            @Html.DisplayFor(model => model.Direccion.Localidad)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(nameof(RolesEnum.ADMINISTRADOR)))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    }
        <a asp-action="Index">Volver</a>
</div>
