﻿@model Grupo1.AgendaDeTurnos.Models.Centro

@{
    ViewData["Title"] = "Editar centro";
    
}


<h1>@($"{ this.ViewData["Title"] }") </h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Calle" class="control-label"></label>
                <input name="calle" value="@ViewBag.calle" class="form-control" requiered />
                <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Altura" class="control-label"></label>
                <input name="altura" value="@ViewBag.altura" type="number" class="form-control" requiered />
                <span asp-validation-for="Direccion.Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Localidad" class="control-label"></label>
                <input name="localidad" value="@ViewBag.localidad" class="form-control" requiered />
                <span asp-validation-for="Direccion.Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion.Provincia" class="control-label"></label>
                <input name="provincia" value="@ViewBag.provincia" class="form-control" requiered />
                <span asp-validation-for="Direccion.Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

