﻿@model IEnumerable<Grupo1.AgendaDeTurnos.Models.Centro>

@{
    ViewData["Title"] = "Listado de Centros";
}

<h1>@($"{ this.ViewData["Title"] }") </h1>

<p>
    @if (User.IsInRole(nameof(RolesEnum.ADMINISTRADOR)))
    {
        <a asp-action="Create">Nuevo</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion.Calle),
                    @Html.DisplayFor(modelItem => item.Direccion.Altura),
                    @Html.DisplayFor(modelItem => item.Direccion.Localidad)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles | </a>

                    @if (User.IsInRole(nameof(RolesEnum.ADMINISTRADOR)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar | </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" >Volver</a> 