﻿@model Grupo1.AgendaDeTurnos.Models.Profesional

@{
    ViewData["Title"] = "Disponibilidades";
}


<h1>@($"{ this.ViewData["Title"] }") </h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Disponibilidades">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPrestacion" class="control-label"></label>
                <select asp-for="IdPrestacion" class="form-control" asp-items="ViewBag.IdPrestacion"></select>
                <span asp-validation-for="IdPrestacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Disponibilidades</label>
                <select name="DisponibilidadesId" class="form-control" asp-items="ViewBag.Disponibilidades" multiple></select>
                <span asp-validation-for="Disponibilidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCentro" class="control-label"></label>
                <select asp-for="IdCentro" class="form-control" asp-items="ViewBag.IdCentro"></select>
                <span asp-validation-for="IdCentro" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control"></select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col col-md-5">
        <h2>Dias y horario disponible</h2>
        <form asp-controller="Disponibilidades" asp-action="AgregarDisponibilidad">
            <label class="control-label">Dia</label>
            <select name="dia" class="form-control" asp-items="ViewBag.DiasSemana"></select>

            <label>Desde</label>
            <input type="number" name="desde" />
            <label>Hasta</label>
            <input type="number" name="hasta" />
            <input type="submit" asp-route-rol =@nameof(RolesEnum.PROFESIONAL) />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

