﻿@model Grupo1.AgendaDeTurnos.Models.Profesional

@{
    ViewData["Title"] = "Editar mis datos";
}

<h4>Mis Datos</h4>
<h1>@($"{ this.ViewData["Title"] }") </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPrestacion" class="control-label"></label>
                <select asp-for="IdPrestacion" class="form-control" asp-items="ViewBag.IdPrestacion"></select>
                <span asp-validation-for="IdPrestacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCentro" class="control-label"></label>
                <select asp-for="IdCentro" class="form-control" asp-items="ViewBag.IdCentro"></select>
                <span asp-validation-for="IdCentro" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input required name="password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Volver</a>
</div>

